@charset "UTF-8";
header {
	background-size: 1600px 200px;
	background-repeat: no-repeat;
	line-height: 170px;
	font-size: 30px;
	text-align: center;
	height: 160px;
}

a {
	text-decoration: none;
	color: #000000;
}

nav {
	background-color: #CEF6CE;
	list-style-type: none;
	text-align: center;
	margin-right: 0;
	padding: 10px;
}

#topMenu {
	height: 30px; /* 메인 메뉴의 높이 */
	width: 100%; /* 메인 메뉴의 넓이 */
}

#topMenu ul { /* 메인 메뉴 안의 ul을 설정함: 상위메뉴의 ul+하위 메뉴의 ul */
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	white-space: nowrap;
}

#topMenu ul li { /* 메인 메뉴 안에 ul 태그 안에 있는 li 태그의 스타일 적용(상위/하위메뉴 모두) */
	color: white;
	line-height: 30px; /* 텍스트 한 줄의 높이를 30px로 설정 */
	vertical-align: middle; /* 세로 정렬을 가운데로 설정 */
	text-align: center;
	position: relative; /* 해당 li 태그 내부의 top/left 포지션 초기화 */
	display: inline-block;
	z-index: 1; /*제일 앞에 표시되도록*/
}

.menuLink, .submenuLink { /* 상위 메뉴와 하위 메뉴의 a 태그에 공통으로 설정할 스타일 */
	text-decoration: none;
	display: block; /* a 태그의 클릭 범위를 넓힘 */
	width: 200px;
	font-size: 14px;
	font-weight: bold;
	font-family: "Trebuchet MS", Dotum;
}

.menuLink { /* 상위 메뉴의 글씨색을 설정 */
	color: black;
}

.topMenuLi:hover .menuLink { /* 상위 메뉴의 li에 마우스오버 되었을 때 스타일 설정 */
	color: red;
}

.submenuLink { /* 하위 메뉴의 a 태그 스타일 설정 */
	color: green;
	background-color: white;
	border: solid 1px green;
	margin-top: -1px; /* 위 칸의 하단 테두리와 아래칸의 상단 테두리가 겹쳐지도록 설정 */
}

.submenu { /* 하위 메뉴 스타일 설정 */
	position: absolute; /* html의 flow에 영향을 미치지 않게 absolute 설정 */
	height: 0px; /* 초기 높이는 0px로 설정 */
	overflow: hidden; /* 실 내용이 높이보다 커지면 해당 내용 감춤 */
	transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(기본) */
	-webkit-transition: height .2s;
}

.topMenuLi:hover .submenu { /* 상위 메뉴에 마우스 호버한 경우 그 안의 하위 메뉴 스타일 설정 */
	height: 250px; /* 높이를 250px로 설정 */
}

.submenuLink:hover { /* 하위 메뉴의 a 태그의 마우스 오버 스타일 설정 */
	color: red;
	background-color: #dddddd;
}

.loginarea li {
	display: inline !important;
	text-transform: uppercase;
	padding: 0 10px;
	letter-spacing: 0px;
	font-size: 13px;
}

.loginarea {
	padding: 0 30px;
	clear: both;
	position: absolute;
	width: 200;
	height: 30px;
	float: right;
	top: 0px;
	right: 10px;
	overflow: hidden;
	letter-spacing: 5px;
}

#login_btn1 {
	border-radius: 10px;
	border: 1px solid skyblue;
	color: white;
	background-color: skyblue;
}

/*GLOBALS*/
* {
	margin: 0;
	padding: 0;
	list-style: none;
}

#slider-wrap {
	width: 100%;
	height: 400px; /*dot 위치 확인*/
	position: relative;
	overflow: hidden;
}

#slider-wrap ul#slider {
	height: 100%;
	position: absolute;
	top: 70px; /*내비바와 이미지 슬라이드 간 거리*/
	left: 0;
}

#slider-wrap ul#slider li {
	float: left;
	position: relative;
	width: 600px;
	height: 400px;
}

#slider-wrap ul#slider li>div {
	position: absolute;
	top: 20px;
	left: 35px;
}

#slider-wrap ul#slider li>div h3 {
	font-size: 36px;
	text-transform: uppercase;
}

#slider-wrap ul#slider li>div span {
	font-size: 21px;
}

#slider-wrap ul#slider li img {
	display: block;
	width: 85%;
	height: 100%;
}

/*btns*/
.slider-btns {
	position: absolute;
	width: 50px;
	height: 60px;
	top: 50%;
	margin-top: -25px;
	line-height: 57px;
	text-align: center;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.1);
	z-index: 100;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	-webkit-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.slider-btns:hover {
	background: rgba(0, 0, 0, 0.3);
}

#next {
	right: -50px;
	border-radius: 7px 0px 0px 7px;
	color: #eee;
}

#previous {
	left: -50px;
	border-radius: 0px 7px 7px 7px;
	color: #eee;
}

#slider-wrap.active #next {
	right: 0px;
}

#slider-wrap.active #previous {
	left: 0px;
}

/*bar*/
#slider-pagination-wrap {
	min-width: 20px;
	margin-top: 350px;
	margin-left: auto;
	margin-right: auto;
	height: 15px;
	position: relative;
	text-align: center;
}

#slider-pagination-wrap ul {
	width: 100%;
}

#slider-pagination-wrap ul li {
	margin: 0 4px;
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #fff;
	opacity: 0.5;
	position: relative;
	top: 0;
}

#slider-pagination-wrap ul li.active {
	width: 12px;
	height: 12px;
	top: 3px;
	opacity: 1;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
}

#slider-wrap img {
	display: block;
	margin: 0px auto;
	z-index: 2;
}
/*ANIMATION*/
#slider-wrap ul, #slider-pagination-wrap ul li {
	-webkit-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
	-o-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
	transition: all 0.3s cubic-bezier(1, .01, .32, 1);
}

#w20200430557f107c8695a .gallery_row {
	width: 100%;
	table-layout: fixed;
	height: 100%;
}

#w20200430557f107c8695a .item_gallary {
	border-radius: 0px;
	display: table-cell; /*중요*/
	vertical-align: top;
}

element.style {
	position: relative;
	padding: 15px;
}

.tabled {
	display: table;
}

.service li {
	display: inline;
	text-transform: uppercase;
	padding: 0 10px;
	letter-spacing: 0px;
	font-size: 13px;
}

.service {
	padding: 0 30px;
	clear: both;
	position: absolute;
	width: 200;
	height: 100px;
	float: left;
	top: 0px;
	left: 20px;
	overflow: hidden;
	letter-spacing: 5px;
	margin-top: 85px;
}

/*main*/

.ul-shop-grid, #li-living-item-box {
	list-style-type: none;
	float: left;
	margin-right: 40px;
	margin-bottom: 50px
}

.all-shop-grid {
	width: 100%;
	margin-left: 50px;
	text-align: center
}

.big-shop-grid {
	width: 100%;
	margin-left: 100px;
	text-align: center
}

.div-shop-grid {
	display: inline-block;
}



.img-display-box {
	height: 220px;
	width: 220px
}

.big-category-text {
	text-align:left;
	margin-top: 50px;
	margin-bottom: 20px
}

th, td {
	padding: 13px;
}

table {
	width: 90%;
	height: 150px;
	text-align: center;
	background-color: #E6E6E6;
}

/*shop-living-kitchen-etc-kit*/

.big-grid {
	width: 100%;
	text-align: center
}

.div-grid {
	display: inline-block;
}

.row_ul, .row_li {
	list-style-type: none;
	float: left;
}

.point-reset {
	text-align: left;
	margin: 30px
}
/*exchange*/

div.title {
	text-align: center;
	padding: 4% 0% 3% 0%;
}

div.question_box {
	text-align: center;
	background-color:#E6E6E6;
	margin: 0% 20% 2% 20%;
	padding: 2% 0% 2% 0%;
}
	
div.question {
	text-align: center;
	margin:15px 0px 35px 0px;
}




	
/* 버튼 */

.button{
	text-align: center;
}
.test-result-button {
    width:100px;
    background-color: #A9F5A9;
    border: none;
    color:#6E6E6E;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight:bold;
    margin: 4px;
    cursor: pointer;
    border-radius:10px 0 10px 0;
}

.test-result-button:hover {
    background-color: #04B431;
    color:#fff;
}

   
.title-div {
	text-align: center;
   padding: 4% 0% 3% 0%;
}

.question_box-div {
	text-align: center;
   background-color:#E6E6E6;
   margin: 0% 20% 2% 20%;
   padding: 2% 0% 2% 0%;
}
   
.question-div {
	text-align: center;
   margin:15px 0px 35px 0px;
}

